HELP.md
.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

#Eclipse
bin/

#VIM
*~

#Large input file
lyon.osm
simturb.osm
simturb_nodes.json
simturb_ways.json

#Output
*.log
output
SmartGovLez-MASTER.jar
